UserKnownHostsFile /dev/null
StrictHostKeyChecking no
ServerAliveInterval 120 

Host bastion.fabric-testbed.net
     User pg57590_0000321974
     ForwardAgent yes
     Hostname %h
     IdentityFile fabric_bastion_key
     IdentitiesOnly yes

Host * !bastion.fabric-testbed.net
     ProxyJump pg57590_0000321974@bastion.fabric-testbed.net:22
    